.new-game-button {
  margin: 10px;
}

.games-container {
  width: 600px;
}

.full-width-table {
  width: 100%;
}

.single-game {
  border: solid 1px grey;
  padding: 2px;
}

.horizontal {
  display: flex;
}

.table-row:hover {
  background-color: #f0efef;
}

.mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 10px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 25px;
  height: 1px;
}
